@page "/{user}/{slug}/{hash?}"
@model BlueprintModel
@using Humanizer

@inject SignInManager<User> SignInManager

<div class="container view-blueprint">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/User" asp-route-user="@Model.Blueprint.Owner!.UserName">@Model.Blueprint.Owner!.UserName</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a asp-page="/Blueprint" asp-route-user="@Model.Blueprint.Owner!.UserName" asp-route-slug="@Model.Blueprint.Slug" asp-route-hash="@null">
                    @Model.Blueprint.Slug
                </a>
            </li>
            <li class="ml-auto">
                <div class="btn-toolbar" role="toolbar">
                    <form method="post" asp-page-handler="Favorite" data-ajax="true" data-ajax-update="#favorites-count">
                        <div class="btn-group ml-2" role="group">
                            @if (SignInManager.IsSignedIn(User)) { 
                                <button type="submit" class="btn btn-sm btn-default">
                                    <i class="fas fa-heart"></i>
                                    Favorite
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-sm btn-default" disabled
                                        data-toggle="tooltip" data-placement="top" title="Sign in or register to save this blueprint to your favorites!">
                                    <i class="fas fa-heart"></i>
                                    Favorites
                                </button>
                            }
                            <button id="favorites-count" type="button" class="btn btn-sm btn-default" disabled>@Model.Blueprint.FollowerCount</button>
                        </div>
                        <input type="hidden" name="BlueprintId" value="@Model.Blueprint.BlueprintId"/>
                        <input type="hidden" name="Current" value="@Model.Blueprint.FollowerCount"/>
                    </form>
                    @if (SignInManager.IsSignedIn(User) && User.GetUserId() == Model.Blueprint.OwnerId)
                    {
                        <div class="btn-group ml-2" role="group">
                            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#import-modal-version">
                                <i class="fas fa-file-import"></i>
                                Add version…
                            </button>
                            <a asp-page="Edit" asp-route-user="@Model.Blueprint.OwnerSlug" asp-route-slug="@Model.Blueprint.Slug" class="btn btn-sm btn-default">
                                <i class="fas fa-wrench"></i>
                                Edit
                            </a>
                        </div>
                    }
                    <div class="btn-group ml-2" role="group">
                        <a href="@Url.RawBlueprint(Model.Blueprint.Owner!.UserName, Model.Blueprint.Slug, Model.SelectedVersion.Hash)" class="btn btn-sm btn-default"
                           data-toggle="tooltip" data-placement="top" title="View the raw blueprint string">
                            <i class="fas fa-file-alt"></i>
                            Raw
                        </a>
                        @if (Model.Envelope.Blueprint != null)
                        {
                            <a href="@Url.BlueprintEditor(Model.Blueprint.Owner!.UserName, Model.Blueprint.Slug, Model.SelectedVersion.Hash)" class="btn btn-sm btn-default"
                               data-toggle="tooltip" data-placement="top" title="Open this blueprint in the Factorio Blueprint Editor" target="_blank">
                                <i class="fas fa-border-none"></i>
                                View in Editor
                            </a>
                        }
                        <button type="button" class="btn btn-sm btn-success"
                                data-toggle="copy-blueprint" data-payload="@Model.SelectedVersion!.Payload!.Encoded">
                            <i class="fas fa-copy"></i>
                            Copy to clipboard
                        </button>
                    </div>
                </div>
            </li>
        </ol>
    </nav>

    <partial name="_StatusMessage" model="Model.StatusMessage" />

    <div class="row mb-4">
        <div class="col-md-8">
            <h1 class="display-4">@Model.Blueprint.Title</h1>
            <small class="text-muted">
                by <a asp-page="/User" asp-route-user="@Model.Blueprint.Owner.UserName" title="@Model.Blueprint.Owner.DisplayName">@Model.Blueprint.Owner.DisplayName</a>
                &bull; created @Model.Blueprint.CreatedAt.InZone(User.GetTimeZone()).ToDateTimeOffset().Humanize()
                @if (Model.Blueprint.CreatedAt != Model.Blueprint.UpdatedAt)
                {
                    <text>&bull; updated @Model.Blueprint.UpdatedAt.InZone(User.GetTimeZone()).ToDateTimeOffset().Humanize()</text>
                }
                &bull; game version:
                <a asp-page="/Index" asp-route-version="@Model.SelectedVersion.GameVersion.ToString(2)"
                   title="Factorio game version @Model.SelectedVersion.GameVersion.ToString()">
                    @Model.SelectedVersion.GameVersion.ToString(3)
                </a>
            </small>
            @if (Model.Blueprint.Tags?.Any() == true)
            {
                <p class="pt-2">
                    @foreach (var tag in Model.Blueprint.Tags)
                    {
                        <a class="badge badge-secondary"
                           asp-page="/Index" asp-route-tags="@tag">
                            @tag
                        </a>
                    }
                </p>
            }

            @if (Model.Blueprint.Description != null)
            {
                <markdown>@Model.Blueprint.Description</markdown>
            }

            <details>
                <summary>Version History</summary>
                <ul class="list-group list-group-flush">
                    @foreach (var version in Model.Versions!)
                    {
                        <li class="list-group-item">
                            <h5 class="mb-0">
                                <a asp-page="/Blueprint" asp-route-user="@Model.Blueprint.Owner.UserName"
                                   asp-route-slug="@Model.Blueprint.Slug" asp-route-hash="@version.Hash">
                                    @(version.Name ?? version.Hash.ToString())
                                </a>
                                @if (version.VersionId == Model.SelectedVersion.VersionId)
                                {
                                    <text>(selected version)</text>
                                }
                            </h5>
                            <small class="text-muted">Created @version.CreatedAt.InZone(User.GetTimeZone()).ToDateTimeOffset().Humanize()</small>
                            @if (version.Description != null)
                            {
                                <p>@version.Description</p>
                            }
                        </li>
                    }
                </ul>
            </details>
        </div>
        <div class="col-md-4">
            <img src="@Url.BlueprintCover(Model.Blueprint.BlueprintId)" loading="lazy"
                 width="@AppConfig.Cover.Width" height="@AppConfig.Cover.Height" class="img-thumbnail" />
        </div>
    </div>

    @(
        await Html.RenderComponentAsync<BlueprintEnvelope>(RenderMode.Static, new {
            Model.SelectedVersion.VersionId,
            Model.Envelope,
            Model.PayloadCache,
        })
    )
</div>

<partial name="_ImportModal" model="Model.ImportInput" />

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"
            asp-fallback-src="~/dist/js/lightbox.min.js" asp-fallback-test="window.lightbox"
            integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ=="
            crossorigin="anonymous">
    </script>
}
