@using FactorioTech.Web.Core;

@if (Envelope.Blueprint != null)
{
    <BlueprintCard Blueprint="@Envelope.Blueprint" VersionId="@VersionId" />
}
else if (Envelope.BlueprintBook != null)
{
    var tempId = Guid.NewGuid();

    <div class="card mb-1">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="media mb-2">
                        <BlueprintIcons Icons="Envelope.Icons" Type="blueprint-book" />
                        <div class="media-body">
                            <h5 class="card-title mt-2 mb-0">@(Envelope.Label ?? "(no title)")</h5>
                            <small class="text-muted">Contains @(Envelope.BlueprintBook.Blueprints?.Count() ?? 0) blueprints</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-toolbar float-right" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-sm btn-default"
                                data-toggle="tooltip" data-placement="top" title="Copy the blueprint string to your clipboard">
                                Copy to clipboard
                            </button>
                        </div>
                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-sm btn-default"
                                    data-toggle="collapse" data-target="#collapse-book-@tempId"
                                    aria-expanded="false" aria-controls="collapse-book-@tempId">
                                Expand
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <p class="card-text">@(Envelope.Description ?? "(no description)")</p>

            @if (Envelope.BlueprintBook?.Blueprints != null)
            {
                <div class="collapse" id="collapse-book-@tempId">
                    @foreach (var envelope in Envelope.BlueprintBook.Blueprints.OrderBy(i => i.Index))
                    {
                        <BlueprintEnvelope Envelope="@envelope" VersionId="@VersionId" />
                    }
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Invalid blueprint envelope.</p>
}


@code {
    [Parameter]
    public Guid VersionId { get; set; } = Guid.Empty;

    [Parameter]
    public FactorioApi.BlueprintEnvelope Envelope { get; set; } = null!;

    [Parameter]
    public PayloadCache PayloadCache { get; set; } = new PayloadCache();

    protected override async Task OnInitializedAsync()
    {
        await PayloadCache.EnsureInitialized(VersionId, Envelope);
    }
}
